* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clear-fix:before, .clear-fix:after {
  content: " ";
  display: table;
}

.clear-fix:after {
  clear: both;
}

/* Body */

/*
 * E62240
 * F0A11d
 * 879516
 * 571942
 * 096569
 */

body {
  padding: 1em;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #555;
  background: #F0A11d;
}


/* Head */

table.title {
  font-size: 2em;
  margin: 0.25em auto;
}

.greeter {
  text-align: center;
}


/* Sections */

section {
  width: 40em;
  max-width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
}

section + section{
  border-top: 0.1em solid #FFF;
}


/* About */

img.small_button {
  width: 18px;
  height: 18px;
}

div#about_container {
  line-height: 22px;
}


/* Collapsers & collapsibles */

.collapsible {
  display: none;
}

.collapsible a {
  text-decoration: none;
  color: grey;
  font-size: 17px;
}

.collapsible a:hover {
  text-decoration: underline;
}

.collapsible a {
  color: #0079ea;
}

.collapser {
  padding-left: 25px;
  padding-bottom: 4px;
  
  background: url(../img/disclosure-closed.png);
  background-repeat: no-repeat;
}

.collapser.active {
  background-image: url(../img/disclosure-open.png);
  background-repeat: no-repeat;
}


/* Buttons */

button {
  margin: 0;
  padding: 0.5em;
  
  border: 0.1em solid #B01D34;
  border-radius: 0.25em;
  
  background: linear-gradient(#E62240,#B01D34);
  box-shadow: 0 0.1em 0 0 #F35E74 inset;
  
  color: #FFF;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em #000;
}

button:disabled {
  
}

.buttonBox {
  text-align: center;
}


/* Input data */

ul.inputData {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  counter-reset: inputData;
}

ul.inputData li {
  position: relative;
}

ul.inputData li:before {
  counter-increment: inputData;
  content: "#" counter(inputData);
  margin-left: -2em;
}

ul.inputData .column {
  float: left;
  padding: 0.25em;
}

ul.inputData .column.dragHandleWrapper {
  width: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
}

ul.inputData .column.wide {
  width: calc(50% - 1em);
}

ul.inputData .column.wide.shift {
  margin-left: 2em;
}

ul.inputData .dragHandle {
  width: 100%;
  height: 100%;
  background: #096569;
}

ul.inputData label {
  display: block;
  font-size: 0.8em;
  width: 100%;
}

ul.inputData input, ul.inputData textarea {
  width: 100%;
  border: 0.1em solid #096569;
  border-radius: 0.2em;
}

thead#input_data_head {
  display: none;
}

tbody#input_data_body tr td {
  vertical-align: top;
}

tbody#input_data_body tr td img {
  margin-top: -1px;
}


/* Puzzle */

table.puzzle {
  border-collapse: separate;
  border-spacing: 0.1em;
}

table.puzzle tr td {
  margin: 0;
  padding: 0;
  text-align: center;
  
  width: 1.5em;
  height: 1.5em;
  
  font-size: 1em;
  font-weight: bold;
}

.border {
  border: 0.1em solid #555;
  border-radius: 0.1em;
  background: #FFF;
}

img.puzzle_field_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

div#puzzle table tr td, div#puzzle_print_container table tr td {
  position: relative;
}

div.puzzle_field {
  width: 37px;
  height: 37px;
}

div.empty_puzzle_field {
}

div.filled_puzzle_field {
}

div.value_puzzle_field {
  text-align: center;
  line-height: 37px;
  color: gray;
  font-size: 16pt;
}

div.clue_puzzle_field span {
  color: #FFFFFF;
  -webkit-print-color-adjust: exact;
  font-size: 12pt;
}

div.clue_puzzle_field span {
  padding: 2px;
  font-weight: bold;
}

div.horizontal_clue_puzzle_field {
  text-align: left;
  line-height: 37px;
}

div.vertical_clue_puzzle_field {
  text-align: center;
}


/* Clues */

div#clues {
  margin-bottom: -1.5ex;
}

div#clues table tr td, div#clue_print_container table tr td {
  font-weight: bold;
  padding-bottom: 1.5ex;
  position: relative;
}

div#clues table tr td div, div#clue_print_container table tr td div {
}


/* Printing */

div#printing_container table {
  display: none;
}

div#printing_container table tr td {
  font-weight: bold;
  font-size: 12pt;
}

div#printing_container table tr td img {
  margin-right: 1ex;
}

div#printing_container table tr td span {
  margin-right: 4ex;
}

div#puzzle_print_container, div#clue_print_container {
  display: none;
}


/* Error dialog */

div#error_dialog {
  display: none;
}

div#error_dialog div {
  margin: 0 auto;
  width: 300px;
  border: 3px solid #aaa;
  background-color: #fff;
}

div#error_dialog table tr td img {
  margin-right: 1ex;
}

div#error_dialog table {
  margin: 1ex;
}

#error_dialog_ok {
  margin: 0 1ex 1ex 1ex;
}
