#print-modal {
    background: #FFF;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -465px;
    padding: 0 68px;
    width: 794px;
    box-shadow: 0 0 20px #000;
        -moz-box-shadow: 0 0 20px #000;
    	-webkit-box-shadow: 0 0 10px #000;
}

#print-modal-content {
    margin: 68px 0;
    border: none;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#print-modal-controls {
    border: 1px solid #ccc;
    border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
    margin: 15px auto -58px auto;
    width: 112px;
    height: 48px;
    padding: 5px 4px 5px 4px;
    background: rgba(250, 250, 250, 0.75);
}

#print-modal-controls img {
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    margin: 0 4px 0 4px;
    padding: 0;
}